* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  color: black;
  background: lightblue;
}

/* Top navigation styles */
.navigation {
  background-color: #333;
  overflow: hidden;
  display: flex;
  padding: 20px 20%;
  align-items: center;
}

.navigation a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navigation a:hover {
  background-color: #ddd;
  color: black;
}

.navigation a.active {
  background-color: #04aa6d;
  color: white;
}

ul li {
  list-style: none;
  margin: 10px 20px;
  display: inline-block;
  overflow: hidden;
  background-color: #333;
}

.text {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  text-align: center;
}

.container {
  position: relative;
  width: 80%;
  max-width: 1000px;
  min-height: 1000px;
  background: #fff;
  margin: 50px;
  display: grid;
  box-shadow: 0 35px 55px rgba(0, 0, 0, 0.1);
}

.MyClass {
  position: relative;
  background-color: #fff;
  margin-bottom: 10px;
}

.title,
.title2,
.text1 {
  color: #003147;
  letter-spacing: 1px;
  font-weight: 300;
}

.title {
  text-transform: uppercase;
  margin-bottom: 0;
  padding: 60px;
  font-weight: 1.5em;
  text-align: center;
}
.title2 {
  margin-bottom: 5px;
  font-weight: 100;
  font-size: larger;
}
.text1{
  font-weight: 100;
  margin-bottom: 15px;
}